.App {
  font-family: sans-serif;
  text-align: center;
  text-align: center;
  display: flex;
}

.btn > * {
  pointer-events: none;
}

.diagram {
  height: 100vh;
  width: 70%;
}
.tableTitles {
  height: 100vh;
  width: 30%;
  background-color: #203647;
}

.true {
  background-color: #364a59;
  margin: 5px;
  padding: 5px;
  color: #eefbfb;
}
.false {
  background-color: #eee;
  margin: 5px;
  padding: 5px;
  color: #000;
}
